.form {
    padding-top: 35px;
    padding-left: 200px;
}

.svg {
    color: #FFD61B;
}

.sectionTitle {
    margin-bottom: 31px;
}

.input_flex {
    display: flex;
    margin-bottom: 40px;
    gap: 168px;
}

label {
    color: #434142;
}

.container_input {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.form_label {
    display: flex;
    gap: 5px;
    font-size: 12px;
    color: #868589;
}

.form_input {
    font-size: 16px;
    height: 20px;
    width: 128px;
    margin-top: 2px;
    border: none;
    border-bottom: 1px solid #FFD61B;
    color: #434142;
}

.cards {
    display: flex;
    margin-top: 25px;
    gap: 90px;
    margin-bottom: 50px;
}

.button_yellow {
    display: flex;
    gap: 167px;
    margin-bottom: 81px;
}

.save {
    color: #005FC5;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .form {
        padding-left: 50px;
    }

    .input_flex {
        flex-direction: column;
        gap: 0;
    }

    .form_input {
        width: 90%;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .button_yellow {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}